/* Variabel */


/* reset */

/* base style */
    h1{
        text-align: center;
}
    .post__add{
        display: flex;
        width: 250px;
        height: 220px;
        border: 2px solid;
        justify-content: center;
        justify-items: center;
        margin: auto;


    }

    .post_description{
        display:flex;

    }

    .post__input{
        width: 80%;
    }

    .post__button{
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }

    .post__create{
        background-color:#15457B;
        border: none;
        color: #19C1DC;
        width: 20%;
        padding: 15px 32px;
        text-decoration: none;
        text-align: center;
        font-size: 24px;
        border-radius: 23px; 
    }

/* fonts */
