/* Variabel */

/* reset */

/* base style */
    .chat__other{
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .chat__pic{
        width: 4.5rem;
        border: solid 1px #15457B;
        border-radius: 100%;
        margin: 1.2rem;

    }
    
    .chat__them{
        display: flex;
        justify-content: center;
        background-color:rgb(224, 222, 222);
        border: none;
        color: black;
        width: 50%;
        border-radius: 23px;
    }

    .chat__me{
        display: flex;
        align-self: flex-end;
        justify-content: center;
        background-color:#15457B;
        border: none;
        color: white;
        width: 50%;
        border-radius: 23px;
        float: right;
    }

    .chat__box{
        background-color: #15457B;
        display: flex;
        bottom: 4em;
        position: fixed;
        height: 4em;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px #ebebeb;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        
    }

    .chat__box-bar{
        width: 80%;
        height: 1.3rem;
        border: solid 0px;
        border-radius: 30px;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
    }
/* fonts */
