.main__content {
    overflow: scroll;
}

.post {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
}

.post::-webkit-scrollbar {
    width: 0;
}

.post__image {
    background-color: green;
    width: 150px;
    height: 150px;
    border: solid 0;
    border-radius: 20px;
}