/* Variabel */


/*  reset  */

body {
    padding: 0;
    margin: 0;
}

/*  base style  */

body {
    background-image: url(media/WorkShop.jpeg);
}

html {
    scroll-behavior: smooth;
}

.header__logo {
    display: flex;
    top: 0;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: rgba(20, 16, 15, 1);
    position: fixed;
}

.header__menu {
    display: flex;
    top: 3.5em;
    width: 100%;
    justify-content: space-around;
    background-color: #15457B;
    list-style: none;
    padding: 17px 0px 17px 0px;
    margin: 0;
    position: fixed;
}

.top {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.intro {
    display: grid;

}

.community {
    margin-top: 200px;    
}

.join {
   
}

.download{
    
}

/*  fonts  */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* mobile styles */

.intro {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.intro__title {
    font-size: 3.2rem;
    margin-bottom: 0;
    color: #1AC6E0;
    line-height: 110%;
}

.intro__paragraph {
    font-size: 1.2rem;
    color: #ffffff;
}

.paragraph {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
}

.intro__button-link {
    margin-top: 1.5rem;
    justify-self: center;
}

.intro__button {
    background-color: #15457B;
    color: #1AC6E0;
    border: solid 0px;
    border-radius: 30px ;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    justify-self: center;
}

.intro__img {
    display: none;
}

a {
    font-size: 1.2rem;
    color: #ffffff;
}

.app-screenshot {
    width: 100%;
}

.community {
    display:grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
}

.join {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 4rem;
}

.download {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 4rem;
}

.download__image {
    width: 100%;                
}

.download__image--size {
    width: 100%;
}

.download__image--flex {
    display: flex;
    justify-content: center;
}

.download__paragraph {
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
}

.download__paragraph--font-size {
    font-size: 2rem;
    
}

/*  desktop styles  */
@media screen and (min-width: 1200px){

    .intro{
    grid-template-columns: 1fr 1fr;

    }
    .intro__img{
        display: block;
    }
    .community{
        grid-template-columns: 1fr 1fr;
    }
    .join{
        grid-template-columns: 1fr 1fr;
    }
    .download{
        grid-template-columns: 1fr 1fr;
    }
}