/* Variabel* /

/* reset */

body {
    padding: 0;
    margin: 0;
}

/* fonts */


/* base style */

/* header */

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5em;
    background-color: #15457B;
    border-bottom: 1px solid #ebebeb;
}

.header__search {
    background-color: #15457B;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.header__search-bar {
    width: 300px;
}

/* footer */

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #15457B;
    border-top: solid;
    border-top: #15457B;
    position:fixed;
    bottom: 0;
    width: 100%;
    height:4em;
    align-items: center;
}

.navicon{
    width: 50%;
    height: 50%;
}
