/* Variabel* /

/* reset */

body {
    padding: 0;
    margin: 0;
}

/* fonts */


/* base style */

/* header */

.header__logo {
    background-color: #15457B;
    border-bottom: 1px solid #ebebeb;
    justify-content: center;
}