/* Variabel* /

/* reset */

body {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
    
.navbar{
    padding: 0;
    margin: 0;
}
a{
    margin: 0;
}
/* fonts */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* base style */
body{
    background-color: #BDD0E1;
}

main{
    margin-bottom: 6em;
}

/* header */

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    background-color: #15457B;
}

.header__search {
    background-color: #15457B;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .5);
    border-top: 1px solid #ebebeb;
}

.header__search-bar {
    width: 300px;
    border: solid 0px;
    border-radius: 30px;
    height: 2rem;
    text-align: center;
    outline: none;
}

/* footer */

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #15457B;
    border-top: solid;
    border-top: #15457B;
    position:fixed;
    bottom: 0;
    width: 100%;
    height:4em;
    align-items: center;
}

.navicon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navicon img{
    width: 50%;
}

/* search dropdown menu */

.menu{
    padding: 0;
}

.category {
    font-weight: 900;
}

.drop-down {
    margin-top: 10px;
    background-color: white;
    border: solid 0px;
    border-radius: 20px;
    padding: 15px 10px 15px 10px;
    width: 280px;
}

.header__search ul li a {
    line-height: 25px;
    color: #000000;
}

.header__search ul li  {
    text-decoration: underline;
    list-style-type: none;
    padding-left: 10px;
}

.header__search ul li:hover .drop-down  {
    display: block;
}


.header__search ul li ul {
    display: none;
    position: absolute;
    line-height: 25px;
}
